<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from dreamguys.co.in/demo/doccure/admin/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 30 Nov 2019 04:12:20 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Exp. Médico</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Areas/Admin/assets/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Areas/Admin/assets/css/bootstrap.min.css">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/Areas/Admin/assets/css/font-awesome.min.css">
    <!-- Datetimepicker CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap-datetimepicker.min.css">
    <!-- Feathericon CSS -->
    <link rel="stylesheet" href="~/Areas/Admin/assets/css/feathericon.min.css">
    <link rel="stylesheet" href="~/Areas/Admin/assets/plugins/morris/morris.css">
    <!-- Select2 CSS -->
    <link rel="stylesheet" href="~/Content/assets/plugins/select2/css/select2.min.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="~/Areas/Admin/assets/css/style.css">
    <!--[if lt IE 9]>
        <script src="~/Areas/Admin/assets/js/html5shiv.min.js"></script>
        <script src="~/Areas/Admin/assets/js/respond.min.js"></script>
    <![endif]-->
    @* Es del Layout 1  Para que respete los Group del Select *@
    <link rel="stylesheet" href="~/Content/assets/css/style.css">

    @*Estos esilos son para el dashboard que dice specialists*@
    <link rel="stylesheet" href="~/Areas/Admin/assets/plugins/datatables/datatables.min.css">

</head>
<body>

    <div class="main-wrapper">

        <div class="header">
            <!-- Logo -->
            @*<div class="header-left">
                    <a class="logo" href="#" onclick="location.href='@Url.Action("Index", "Admin")'">
                        <img src="~/Content/assets/img/Inicio/logoUANL.png" alt="Logo">
                    </a>
                    <a class="logo logo-small" href="#" onclick="location.href='@Url.Action("Index", "Admin")'">
                        <img src="~/Content/assets/img/Inicio/logoUANL.png" alt="Logo" width="30" height="30">
                    </a>
                </div>*@
            <!-- /Logo -->
            <a href="javascript:void(0);" id="toggle_btn">
                <i class="fe fe-text-align-left"></i>
            </a>
            <a class="mobile_btn" id="mobile_btn">
                <i class="fa fa-bars"></i>
            </a>
            <ul class="nav user-menu">
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <span class="user-img"><img class="rounded-circle" src="~/Content/assets/img/doctors/doctor-thumb-02.jpg" width="31" alt="Ryan Taylor"></span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="user-header">
                            @*<div class="avatar avatar-sm">
                                    <img src="~/Areas/Admin/assets/img/profiles/avatar-01.jpg" alt="User Image" class="avatar-img rounded-circle">
                                </div>*@
                            @*<div class="user-text">
                                    <h6>Ryan Taylor</h6>
                                    <p class="text-muted mb-0">Administrator</p>
                                </div>*@
                        </div>
                        <a class="dropdown-item" href="profile.html">Mi Perfil</a>
                        @*<a class="dropdown-item" href="settings.html">Settings</a>*@
                        @using (Html.BeginForm("LogOff", "../Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()
                            <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
                        }
                    </div>
                </li>
            </ul>
        </div>

        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">

                    <ul>
                        <li class="menu-title">
                            <span>Menú</span>
                        </li>
                        <li class="">
                            <a href="@Url.Action("Index", "Admin")"><i class="fe fe-home"></i> <span>Inicio</span></a>
                        </li>
                        @if (HttpContext.Current.User.IsInRole("Admin"))
                        {
                            <li class="submenu">
                                <a href="#"><i class="fa fa-address-book"></i> <span>Admon. Usuarios</span> <span class="menu-arrow"></span></a>
                                <ul style="display: none;">
                                    <li><a href="@Url.Action("Index", "Usuarios")">Registro Usuario</a></li>
                                </ul>
                            </li>
                        }

                        @if (HttpContext.Current.User.IsInRole("Recepcion") || HttpContext.Current.User.IsInRole("Expediente") || HttpContext.Current.User.IsInRole("Enfermeria"))
                        {
                            <li class="submenu">
                                <a href="#"><i class="fa fa-ambulance"></i> <span>Admon. PX.</span> <span class="menu-arrow"></span></a>
                                <ul style="display: none;">

                                    <li><a href="@Url.Action("BuscarPaciente", "Derechohabiente")">Buscar PX.</a></li>
                                    @if (HttpContext.Current.User.IsInRole("Recepcion"))
                                    {
                                        <li><a href="@Url.Action("Index", "Derechohabiente")">Lista PX.</a></li>
                                    }
                                    @if (HttpContext.Current.User.IsInRole("Recepcion"))
                                    {
                                        <li><a href="@Url.Action("Create", "Derechohabiente")">Nuevo PX.</a></li>
                                    }
                                </ul>
                            </li>
                        }

                        @if (HttpContext.Current.User.IsInRole("Expediente"))
                        {
                            <li class="submenu">
                                <a href="#"><i class="fe fe-folder"></i> <span>Expte. Médico</span> <span class="menu-arrow"></span></a>
                                <ul style="display: none;">
                                    <li><a href="@Url.Action("BuscarPaciente", "Derechohabiente")">Mis Pacientes.</a></li>


                                </ul>
                            </li>
                            if (Model != null)
                            {

                                var esLista = Model.GetType().IsGenericType &&
                                Model.GetType().GetGenericTypeDefinition() == typeof(List<>);

                                if (!esLista)
                                {
                                    <li class="submenu">
                                        <a href="#"><i class="fa fa-file-text-o"></i> <span>Nota de Evolución</span> <span class="menu-arrow"></span></a>
                                        <ul style="display: none;">
                                            <li><a href="@Url.Action("Create", "NotaEvolucion", new { expediente = Model.Expediente })">Nueva</a></li>
                                            <li><a href="@Url.Action("Index", "NotaEvolucion", new { expediente = Model.Expediente })">Mis notas</a></li>
                                            <li><a href="@Url.Action("Paciente", "NotaEvolucion", new { expediente = Model.Expediente })">Notas de Px.</a></li>

                                        </ul>
                                    </li>

                                    <li class="submenu">
                                        <a href="#"><i class="fe fe-folder-open"></i> <span>Historia Clínica</span> <span class="menu-arrow"></span></a>
                                        <ul style="display: none;">
                                            <li><a href="@Url.Action("Historia", "HistoriaClinica", new { expediente = Model.Expediente })">Buscar Historia</a></li>
                                            <li class="submenu">
                                                <a href="#"><span>Nueva</span> <span class="menu-arrow"></span></a>
                                                <ul style="display: none;">
                                                    <li><a href="@Url.Action("Index", "HistoriaClinica", new { expediente = Model.Expediente })">Datos Generales</a></li>
                                                    <li class="hidden-list-item"><a href="@Url.Action("Index", "HistoriaMedicina", new { expediente = Model.Expediente })">Medicina</a></li>
                                                    <li class="hidden-list-item"><a href="@Url.Action("Index", "HistoriaPsicologia", new { expediente = Model.Expediente })">Psicología</a></li>
                                                    <li class="hidden-list-item"><a href="@Url.Action("Index", "HistoriaNutricion", new { expediente = Model.Expediente })">Nutrición</a></li>
                                                    <li class="hidden-list-item"><a href="@Url.Action("Index", "HistoriaOdontologia", new { expediente = Model.Expediente })">Odontología</a></li>
                                                </ul>
                                            </li>

                                        </ul>
                                    </li>


                                    <li class="submenu">
                                        <a href="#"><i class="fa fa-file-text-o"></i> <span>Archivos</span> <span class="menu-arrow"></span></a>
                                        <ul style="display: none;">
                                            <li><a href="@Url.Action("Create", "Archivos", new { expediente = Model.Expediente })">Nuevo</a></li>
                                            <li><a href="@Url.Action("Index", "Archivos", new { expediente = Model.Expediente })">Mis archivos</a></li>
                                            <li><a href="@Url.Action("Paciente", "Archivos", new { expediente = Model.Expediente })">Archivos de Px</a></li>

                                        </ul>
                                    </li>
                                }

                            }

                        }

                        @if (HttpContext.Current.User.IsInRole("Enfermeria"))
                        {
                            if (Model != null)
                            {

                                var esLista = Model.GetType().IsGenericType &&
                                Model.GetType().GetGenericTypeDefinition() == typeof(List<>);

                                if (!esLista)
                                {

                                    <li class="submenu">
                                        <a href="#"><i class="fa fa-file-text-o"></i> <span>Enfermería</span> <span class="menu-arrow"></span></a>
                                        <ul style="display: none;">
                                            <li><a href="@Url.Action("Create", "Enfermeria", new { expediente = Model.Expediente })">Nuevo</a></li>
                                            <li><a href="@Url.Action("Index", "Enfermeria", new { expediente = Model.Expediente })">Signos vitales guardados</a></li>
                                            <li><a href="@Url.Action("Paciente", "Enfermeria", new { expediente = Model.Expediente })">Signos Vitales de Px</a></li>

                                        </ul>
                                    </li>


                                }
                            }
                        }

                        @*<li class="submenu">
        <a href="#"><i class="fe fe-folder-open"></i> <span>Historia Clínica</span> <span class="menu-arrow"></span></a>
            <ul style="display: none;">
                <li><a href="@Url.Action("Historia", "HistoriaClinica")">Buscar Historia</a></li>
                <li class="submenu">
                    <a href="#"><span>Nueva</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="@Url.Action("Index", "HistoriaClinica")">Común</a></li>
                        <li><a href="">Medicina</a></li>
                        <li><a href="">Psicología</a></li>
                        <li><a href="">Nutrición</a></li>
                        <li><a href="">Odontología</a></li>
                    </ul>
                </li>

            </ul>
        </li>*@

                        @*
        <li class="submenu">
            <a href="#"><i class="fe fe-bookmark"></i> <span>Admon. Agendas</span> <span class="menu-arrow"></span></a>
            <ul style="display: none;">
                <li><a href="@Url.Action("a", "a")">Algo</a></li>
                <li><a href="@Url.Action("a", "a")">Algo</a></li>
            </ul>
        </li>
                        *@
                        @*<li class="submenu">
            <a href="#"><i class="fe fe-file-excel"></i> <span>Lista Espera PX.</span> <span class="menu-arrow"></span></a>
            <ul style="display: none;">
                <li><a href="@Url.Action("a", "a")">Algo</a></li>
                <li><a href="@Url.Action("a", "a")">Algo</a></li>
            </ul>
        </li>*@
                        @*
        <li class="submenu">
            <a href="#"><i class="fe fe-activity"></i> <span>Monitor Clínica</span> <span class="menu-arrow"></span></a>
            <ul style="display: none;">
                <li><a href="@Url.Action("a", "a")">Algo</a></li>
                <li><a href="@Url.Action("a", "a")">Algo</a></li>
            </ul>
        </li>
                        *@
                    </ul>
                </div>
            </div>
        </div>

        <div class="main-wrapper">
            @RenderBody()
        </div>

        <footer class="footer">
        </footer>
    </div>
    <!-- /Main Wrapper -->
    <!-- jQuery -->
    <script src="~/Areas/Admin/assets/js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap Core JS -->
    <script src="~/Areas/Admin/assets/js/popper.min.js"></script>
    <script src="~/Areas/Admin/assets/js/bootstrap.min.js"></script>
    <!-- Select2 JS -->
    <script src="~/Content/assets/plugins/select2/js/select2.min.js"></script>
    <!-- Datetimepicker JS -->
    <script src="~/Content/assets/js/moment.min.js"></script>
    <script src="~/Content/assets/js/bootstrap-datetimepicker.min.js"></script>
    <!-- Slimscroll JS -->
    <script src="~/Areas/Admin/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Areas/Admin/assets/plugins/raphael/raphael.min.js"></script>
    <script src="~/Areas/Admin/assets/plugins/morris/morris.min.js"></script>
    <script src="~/Areas/Admin/assets/js/chart.morris.js"></script>

    @*Estos scripts son para el dashboard que dice specialists*@
    <script src="~/Areas/Admin/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Areas/Admin/assets/plugins/datatables/datatables.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Areas/Admin/assets/js/script.js"></script>

</body>

<!-- Mirrored from dreamguys.co.in/demo/doccure/admin/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 30 Nov 2019 04:12:34 GMT -->
</html>


@if (Model != null)
{
    <script>

    $(document).ready(function () {

        //$('.hidden-list-item').hide();

        var ExpedientePX = "@Model.Expediente";

        // Lógica para la llamada AJAX al cargar la página
        $.ajax({
            url: '@Url.Action("ValidarPxParaMostrarHistorias", "HistoriaClinica")',
            method: 'POST',
            dataType: 'json',
            data: {
                expediente: ExpedientePX
            },
            success: function (data) {
                if (data.MENSAJE.substring(0, 6) == "Succe:") {
                    if (data.Data == 1) {
                        // Si la respuesta es True, mostrar el resto de la lista
                        $('.hidden-list-item').show();
                    } else {
                        // Si la respuesta es False, ocultar el resto de la lista
                        $('.hidden-list-item').hide();
                    }
                }
                if (data.MENSAJE.substring(0, 6) == "Error:") {
                    Swal.fire({
                        icon: 'error',
                        title: '¡Error!',
                        text: data.MENSAJE.substring(7),
                    });
                }
            },
            error: function (ex) {
                Swal.fire({
                    icon: 'error',
                    title: '¡Error!',
                });
            }
        });


    });

    </script>
}