@Model CUS.Models.CUS
@{
    ViewBag.Title = "Archivos";

    int edad = 0;
    int meses = 0;
    var fecha = DateTime.Now.ToString("yyyy-MM-ddT00:00:00.000");
    var fechaDT = DateTime.Parse(fecha);

    var today = fechaDT;
    DateTime fnac = (DateTime)Model.FechaNacimiento;
    int Years = 0;
    int Months = 0;
    int Days = 0;

    var nacimiento = string.Format("{0:dd/MM/yyyy}", Model.FechaNacimiento);

    if ((today.Year - fnac.Year) > 0 ||
    (((today.Year - fnac.Year) == 0) && ((fnac.Month < today.Month) ||
    ((fnac.Month == today.Month) && (fnac.Day <= today.Day)))))
    {
        int DaysInBdayMonth = DateTime.DaysInMonth(fnac.Year, fnac.Month);
        int DaysRemain = today.Day + (DaysInBdayMonth - fnac.Day);

        if (today.Month > fnac.Month)
        {
            Years = today.Year - fnac.Year;
            Months = today.Month - (fnac.Month + 1) + Math.Abs(DaysRemain / DaysInBdayMonth);
            Days = (DaysRemain % DaysInBdayMonth + DaysInBdayMonth) % DaysInBdayMonth;
        }
        else if (today.Month == fnac.Month)
        {
            if (today.Day >= fnac.Day)
            {
                Years = today.Year - fnac.Year;
                Months = 0;
                Days = today.Day - fnac.Day;
            }
            else
            {
                Years = (today.Year - 1) - fnac.Year;
                Months = 11;
                Days = DateTime.DaysInMonth(fnac.Year, fnac.Month) - (fnac.Day - today.Day);
            }
        }
        else
        {
            Years = (today.Year - 1) - fnac.Year;
            Months = today.Month + (11 - fnac.Month) + Math.Abs(DaysRemain / DaysInBdayMonth);
            Days = (DaysRemain % DaysInBdayMonth + DaysInBdayMonth) % DaysInBdayMonth;
        }
    }

    if (Years >= 99)
    {
        edad = 99;
    }
    else
    {
        edad = Years;
    }

    meses = Months;
}

<style>
    .modal {
        padding: 0 !important;
    }

    .modal-open .main-wrapper {
        filter: none;
    }

    .nav-tabs.nav-tabs-bottom > li {
        margin-bottom: -1px;
        width: 110px;
        max-width: 110px;
        font-size: 10px;
    }

    .user-tabs .nav-tabs > li > a {
        padding: 5px;
    }

    /*
    .table-responsive {
        display: none;
    }
    */


    .profile-header {
        padding-left: 0px;
        margin-bottom: 20px;
    }

    .line {
        width: 100%;
    }
</style>

<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    @*<ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action(" Index", "Admin" )">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="@Url.Action(" Index", "HistoriaClinica" )">Historia Clínica</a></li>
                        </ul>*@
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="tblArchivo" class="datatable table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>Paciente</th>
                                        <th>Fecha</th>
                                        <th class="text-right"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header row d-flex justify-content-between mx-1 mx-sm-3 mb-0 pb-0 border-0">
                <div class="tabs active" id="tab01">
                    <h3 class="font-weight-bold">Archivo.</h3>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="line"></div>
            <div class="modal-body p-0">
                <div class="row m-0">
                    <div class="col-12 p-4">
                        <p>Título: <span id="titulo"></span> </p>
                        <p>Tipo archivo: <span id="tipo_archivo"></span> </p>
                        <p>Fecha archivo: <span id="fecha_archivo"></span> </p>
                        <p>Fecha registro: <span id="fecha_registro"></span> </p>
                        <div id="arch"></div>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <div class="modal-footer d-flex flex-column justify-content-center border-0">
            </div>
        </div>
    </div>
</div>




<script src="~/Areas/Admin/assets/js/jquery-3.2.1.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    $(document).ready(function () {

        var table2 = $('#tblArchivo').DataTable({
            destroy: true,
            searching: true,
            responsive: true,
            "ajax": {
                "url": '@Url.Action("ListaArchivos", "Archivos", new { expediente = Model.Expediente })',
                "dataSrc": "",
            },
            "language": {
                "search": "Buscar registro:",
                "zeroRecords": "No se encontró ningun registro",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "select": {
                    "rows": " %d filas seleccionadas"
                },
                "loadingRecords": "Un momento, cargando registros...",
                "processing": "Procesando registros...",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                "lengthMenu": "Mostrando _MENU_ registros",
            },
            "columns": [
                { "data": "Paciente" },
                { "data": "Fecha_registro" },
                { "data": "Boton" },
            ],
            "order": [[2, 'desc']],
            "columnDefs": [
                {

                },
            ],
        });



        $('#tblArchivo tbody').on('click', '.vermas', function () {

            //alert('dsfs');
            var id = $(this).attr('data-id');
            $('#exampleModal').modal('show');


            $.ajax({
                url: '@Url.Action("DtsArchivos", "Archivos")',
                method: 'POST',
                dataType: 'json',
                data: {
                    id: id
                },
                success: function (data) {
                    $('#exampleModal').modal('show');
                    $('#arch').html(data.arch);
                    $('#titulo').text(data.titulo);
                    $('#tipo_archivo').text(data.tipo_archivo);
                    $('#fecha_archivo').text(data.fecha_archivo);
                    $('#fecha_registro').text(data.fecha_registro);
                    //console.log(data);
                },
                error: function (ex) {
                    Swal.fire({
                        icon: 'error',
                        title: '¡Error!',
                    });
                }
            });





        });


    });

</script>

@if (TempData["message_success"] != null)
{
    <script>

    Swal.fire({
        icon: 'success',
        title: '@TempData["message_success"]',
        showConfirmButton: false,
        timer: 1600
    })

    </script>
}