@Model CUS.Models.CUS
@{
    ViewBag.Title = "Nota de Evolución";

    int edad = 0;
    int meses = 0;
    var fecha = DateTime.Now.ToString("yyyy-MM-ddT00:00:00.000");
    var fechaDT = DateTime.Parse(fecha);

    var today = fechaDT;
    DateTime fnac = (DateTime)Model.FechaNacimiento;
    int Years = 0;
    int Months = 0;
    int Days = 0;

    var nacimiento = string.Format("{0:dd/MM/yyyy}", Model.FechaNacimiento);

    if ((today.Year - fnac.Year) > 0 ||
    (((today.Year - fnac.Year) == 0) && ((fnac.Month < today.Month) ||
    ((fnac.Month == today.Month) && (fnac.Day <= today.Day)))))
    {
        int DaysInBdayMonth = DateTime.DaysInMonth(fnac.Year, fnac.Month);
        int DaysRemain = today.Day + (DaysInBdayMonth - fnac.Day);

        if (today.Month > fnac.Month)
        {
            Years = today.Year - fnac.Year;
            Months = today.Month - (fnac.Month + 1) + Math.Abs(DaysRemain / DaysInBdayMonth);
            Days = (DaysRemain % DaysInBdayMonth + DaysInBdayMonth) % DaysInBdayMonth;
        }
        else if (today.Month == fnac.Month)
        {
            if (today.Day >= fnac.Day)
            {
                Years = today.Year - fnac.Year;
                Months = 0;
                Days = today.Day - fnac.Day;
            }
            else
            {
                Years = (today.Year - 1) - fnac.Year;
                Months = 11;
                Days = DateTime.DaysInMonth(fnac.Year, fnac.Month) - (fnac.Day - today.Day);
            }
        }
        else
        {
            Years = (today.Year - 1) - fnac.Year;
            Months = today.Month + (11 - fnac.Month) + Math.Abs(DaysRemain / DaysInBdayMonth);
            Days = (DaysRemain % DaysInBdayMonth + DaysInBdayMonth) % DaysInBdayMonth;
        }
    }

    if (Years >= 99)
    {
        edad = 99;
    }
    else
    {
        edad = Years;
    }

    meses = Months;
}

<style>
    .modal {
        padding: 0 !important;
    }

    #escalaDolorModal .modal-dialog {
        height: 100%;
        margin-top: 120px;
    }

    .modal-open .main-wrapper {
        filter: none;
    }

    .nav-tabs.nav-tabs-bottom > li {
        margin-bottom: -1px;
        width: 110px;
        max-width: 110px;
        font-size: 10px;
    }

    .user-tabs .nav-tabs > li > a {
        padding: 5px;
    }


    .diaginfo {
        position: absolute;
        top: 0;
        left: 0;
        padding: 2px 15px;
        background-color: #20c0f3;
        color: white;
        margin-left: -20px;
        font-size: 15px;
        font-weight: bolder;
    }

        .diaginfo:after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 0;
            height: 0;
            border-top: solid 30px #20c0f3;
            border-left: solid 50px transparent;
            border-right: solid 50px transparent;
        }


    .diaginfo2 {
        position: absolute;
        top: 0;
        left: 0;
        padding: 2px 15px;
        background-color: #20c0f3;
        color: white;
        margin-left: -20px;
        margin-top: -40px;
        font-size: 12px;
        font-weight: bolder;
    }

        .diaginfo2:after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 0;
            height: 0;
            border-top: solid 20px #20c0f3;
            border-left: solid 20px transparent;
            border-right: solid 20px transparent;
        }

    .resumenTop {
        position: absolute;
        top: 0;
        left: 0;
        width: 2.5vw;
        height: 2.5vw;
        border-radius: 2.5vw;
        background-color: #20c0f3;
        color: white;
        font-size: 1.2vw;
        line-height: 2.5vw;
        text-align: center;
    }


    .resumenTopCheck {
        position: absolute;
        top: 0;
        right: 0;
        width: 1.5vw;
        height: 1.5vw;
        border-radius: 100%;
        background-color: #20c0f3;
        color: white;
        font-size: 0.8vw;
        line-height: 1.5vw;
        text-align: center;
    }

    .resumenText {
        font-size: 0.8vw;
        margin-top: 3vw;
        color: #9E9E9E;
        font-weight: bolder;
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: none;
        font-weight: bold;
        border-bottom: 2px solid #FBC43D;
        outline-width: 0;
        width: 100%;
        max-width: 100%;
        background-color: transparent;
    }

    .tipoconsulta {
        border-radius: 0px;
        border: 2px solid #FBC43D;
    }

    .borrardiag {
        width: 50%;
        filter: grayscale(100%);
    }

    .borrarInt {
        width: 50px;
        filter: grayscale(100%);
    }


    #msform input,
    #msform textarea,
    #msform select {
        padding: 10px 8px 4px 8px;
        border: none;
        border-bottom: 1px solid lightgray;
        border-radius: 0px;
        margin-top: 2px;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        color: black;
        font-size: 16px;
        letter-spacing: 1px;
        background-color: white;
    }

        #msform input:focus,
        #msform textarea:focus,
        #msform select:focus {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            border: none;
            font-weight: bold;
            border-bottom: 2px solid #20c0f3;
            outline-width: 0
        }


    #notaevolucion {
        background-color: white;
    }

    .table-responsive {
        display: none;
    }

    .flecha {
        width: 10px;
    }

    .btn-buscar {
        background-color: #20c0f3;
        color: white !important;
        width: 8%;
    }

        .btn-buscar:hover {
            background-color: #20c0f3 !important;
            color: white !important;
        }

    .btnbuscapac {
        width: 20px;
        -webkit-filter: invert(100%);
        filter: invert(100%);
    }

    .profile-header {
        padding-left: 0px;
        margin-bottom: 20px;
    }
</style>

<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    @*<ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action(" Index", "Admin" )">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="@Url.Action(" Index", "HistoriaClinica" )">Historia Clínica</a></li>
                        </ul>*@
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-12 p-0">
                <div class="profile-header">
                    <div class="row align-items-center">
                        <div class="col-auto profile-image">
                            <a href="#">
                                @*<img class="rounded-circle" alt="User Image" src="~/Content/assets/img/profiles/avatar-04.jpg">*@
                            </a>
                        </div>
                        <div class="col ml-md-n2 profile-user-info">
                            <h10 style="font-weight:bold;">Nombre: @Model.Nombre @Model.PrimerApellido @Model.SegundoApellido </h10>
                            <a id="Nombre"></a><br />
                            <h10 style="font-weight:bold;">Expediente:@Model.Expediente </h10>
                            <a id="Exp"></a><br />
                            <h10 style="font-weight:bold;">Edad: @edad años @meses meses</h10>
                            <a id="Edad"></a><br />
                            <h10 style="font-weight:bold;">Sexo: @Model.Sexo</h10>
                            <a id="Sexo"></a><br />
                            <h10 style="font-weight:bold;">Fecha Nac.: @nacimiento</h10>
                            <a id="FechaNac"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 p-3" id="notaevolucion">

                <div class="row">
                    <div class="col-12">
                        @Html.Partial("../Shared/SignosVitales")
                    </div>
                </div>

                <div class="row m-0">

                    <div class="col-md-12 p-2 mt-2 mb-2">
                        <h2><b>Nota Evolución</b></h2>
                    </div>

                    <div class="col-md-12 p-2">

                        @using (Html.BeginForm("Create", "NotaEvolucion", FormMethod.Post, htmlAttributes: new { @id = "msform" }))
                        {
                            <input type="hidden" value="@Model.Expediente" name="expediente" id="numexp" />
                            <div class="row m-0 ml-3 mr-3">
                                <div class="col-12 p-2">
                                    <div class="resumenTop" id="subjetivoLetra">S</div>
                                    <div class="resumenTopCheck" id="subjetivoCheck">✓</div>
                                    <textarea class="resumenText mt-5" id="subjetivo" name="nota_subjetivo"></textarea>
                                </div>
                                <div class="col-12 p-2">
                                    <div class="resumenTop" id="objetivoLetra">O</div>
                                    <div class="resumenTopCheck" id="objetivoCheck">✓</div>
                                    <textarea class="resumenText mt-5" id="objetivo" name="nota_objetivo"></textarea>
                                </div>
                                <div class="col-12 p-2">
                                    <div class="resumenTop" id="analisisLetra">A</div>
                                    <div class="resumenTopCheck" id="analisisCheck">✓</div>
                                    <!--div class="row mt-5 ml-0 mr-0 mb-0" id="diagnosticoMedico">
                                        <div class="col-md-12 p-2 text-left">
                                            <h6>Mis diagnósticos frecuentes <img class="flecha" src="~/Content/assets/img/flecha-abajo.png" /> </h6>
                                        </div>
                                    <-div>
                                    <div class="row m-0 mt-5" id="diagnosticoPaciente">
                                        <div class="col-md-12 p-2 text-left">
                                            <h6>Diagnósticos frecuentes del paciente <img class="flecha" src="~/Content/assets/img/flecha-abajo.png" /> </h6>
                                        </div>
                                    </div>
                                    <div class="row m-0 mt-5" id="diagnosticoEspecialidad">
                                        <div class="col-md-12 p-2 text-left">
                                            <h6>Diagnósticos frecuentes de especialidad <img class="flecha" src="~/Content/assets/img/flecha-abajo.png" /> </h6>
                                        </div>
                                    </div-->
                                    <div class="row mt-5 ml-0 mr-0 mb-0" id="diagnosticoBusqueda">
                                        <div class="col-md-12 p-2 text-left">
                                            <h6>Buscar otro diagnostico</h6>
                                            <input style="width:90%;" id="diagnosticoTxt" placeholder="Escribe aquí la descripción o clave y da clic en el boton de buscar" />
                                            <a class="btn btn-buscar">
                                                <img src="~/Content/assets/img/search1.png" class="btnbuscapac">
                                            </a>
                                        </div>
                                    </div>

                                    <div class="row m-0 mt-5" id="diagnosticoBusquedaLista"></div>
                                    <p style="color:red;" id="diagnosticoBusquedaAlert"></p>
                                    <div class="row m-0 mt-5" id="diagnosticoBusquedaListaHistorial"></div>

                                    <div class="row m-0">
                                        <div class="col-md-12 p-2">
                                            <div class="diaginfo">1. Diagnóstico</div>
                                        </div>

                                        <div class="col-md-9 m-auto p-2">
                                            <textarea class="resumenText" id="diagnostico1" name="diagnostico1" readonly></textarea>
                                            <input id="clave1" type="hidden" />
                                        </div>
                                        <div class="col-md-3 m-auto p-0">
                                            <div class="row m-0">
                                                <div class="col-9 p-2">
                                                    <select class="form-control tipoconsulta" id="tipoconsulta1" name="tipo_diagnostico1" required>
                                                        <option disabled selected>Seleccionar opción</option>
                                                        <option value="2">Subsecuente</option>
                                                        <option value="1">Primera Vez</option>
                                                    </select>
                                                </div>
                                                <div class="col-3 text-center p-2">
                                                    <img class="borrardiag" id="borrardiag1" src="~/Content/assets/img/trashcan.png" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row m-0">
                                        <div class="col-md-12 p-2">
                                            <div class="diaginfo">2. Diagnóstico</div>
                                        </div>

                                        <div class="col-md-9 m-auto p-2">
                                            <textarea class="resumenText" id="diagnostico2" name="diagnostico2" readonly></textarea>
                                            <input id="clave2" type="hidden" />
                                        </div>
                                        <div class="col-md-3 m-auto p-0">
                                            <div class="row m-0">
                                                <div class="col-9 p-2">
                                                    <select class="form-control tipoconsulta" id="tipoconsulta2" name="tipo_diagnostico2" required>
                                                        <option disabled selected>Seleccionar opción</option>
                                                        <option value="2">Subsecuente</option>
                                                        <option value="1">Primera Vez</option>
                                                    </select>
                                                </div>
                                                <div class="col-3 text-center p-2">
                                                    <img class="borrardiag" id="borrardiag2" src="~/Content/assets/img/trashcan.png" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row m-0">
                                        <div class="col-md-12 p-2">
                                            <div class="diaginfo">3. Diagnóstico</div>
                                        </div>

                                        <div class="col-md-9 m-auto p-2">
                                            <textarea class="resumenText" id="diagnostico3" name="diagnostico3" readonly></textarea>
                                            <input id="clave3" type="hidden" />
                                        </div>
                                        <div class="col-md-3 m-auto p-0">
                                            <div class="row m-0">
                                                <div class="col-9 p-2">
                                                    <select class="form-control tipoconsulta" id="tipoconsulta3" name="tipo_diagnostico3" required>
                                                        <option disabled selected>Seleccionar opción</option>
                                                        <option value="2">Subsecuente</option>
                                                        <option value="1">Primera Vez</option>
                                                    </select>
                                                </div>
                                                <div class="col-3 text-center p-2">
                                                    <img class="borrardiag" id="borrardiag3" src="~/Content/assets/img/trashcan.png" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row m-0">
                                        <div class="col-md-12 p-2">
                                            <div class="diaginfo">4. Diagnóstico</div>
                                        </div>

                                        <div class="col-md-9 m-auto p-2">
                                            <textarea class="resumenText" id="diagnostico4" name="diagnostico4" readonly></textarea>
                                            <input id="clave4" type="hidden" />
                                        </div>
                                        <div class="col-md-3 m-auto p-0">
                                            <div class="row m-0">
                                                <div class="col-9 p-2">
                                                    <select class="form-control tipoconsulta" id="tipoconsulta4" name="tipo_diagnostico4" required>
                                                        <option disabled selected>Seleccionar opción</option>
                                                        <option value="2">Subsecuente</option>
                                                        <option value="1">Primera Vez</option>
                                                    </select>
                                                </div>
                                                <div class="col-3 text-center p-2">
                                                    <img class="borrardiag" id="borrardiag4" src="~/Content/assets/img/trashcan.png" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row m-0">
                                        <div class="col-md-12 p-2">
                                            <div class="diaginfo">5. Diagnóstico</div>
                                        </div>

                                        <div class="col-md-9 m-auto p-2">
                                            <textarea class="resumenText" id="diagnostico5" name="diagnostico5" readonly></textarea>
                                            <input id="clave5" type="hidden" />
                                        </div>
                                        <div class="col-md-3 m-auto p-0">
                                            <div class="row m-0">
                                                <div class="col-9 p-2">
                                                    <select class="form-control tipoconsulta" id="tipoconsulta5" name="tipo_diagnostico5" required>
                                                        <option disabled selected>Seleccionar opción</option>
                                                        <option value="2">Subsecuente</option>
                                                        <option value="1">Primera Vez</option>
                                                    </select>
                                                </div>
                                                <div class="col-3 text-center p-2">
                                                    <img class="borrardiag" id="borrardiag5" src="~/Content/assets/img/trashcan.png" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-12 p-2">
                                    <div class="resumenTop" id="planLetra">P</div>
                                    <div class="resumenTopCheck" id="planCheck">✓</div>
                                    <textarea class="resumenText mt-5" id="plan" name="nota_plan"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12 mt-4 text-center">
                                <button type="submit" name="next" class="next success-button btn btn-primary" id="finalizar">Guardar</button>
                            </div>
                        }

                    </div>


                    <div class="gradient-blur">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Areas/Admin/assets/js/jquery-3.2.1.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.0/TweenMax.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>


<script>
    // Initialization Area
    var painArray = ["YAS", "Yeah", "Mmkay", "Ouch", "Owwwww", "AHHHHHHH"];
    //var painArray = ["Sin Dolor", "Duele un poco", "Duele un poco más", "Duele aún más", "Duele mucho", "El peor dolor"];
    var pain = {}
    for (var i = 0; i < painArray.length; i++) {
        pain[i] = painArray[i];
    }
    var needle = $("#needle");
    var prevFace = ".faces #Ouch";
    var slider = document.getElementById("slider");

    var level = document.getElementById("level");
    //alert(slider.value);
    level.innerHTML = slider.value;

    function findPainLevel(value) {
        var painLevel = Math.floor(value / (Math.round(100 / 6)));
        return painLevel;
    }

    function moveGauge(input) {
        var value = Number(input);
        var maxScale = 943;
        var minScale = 471;
        var maxDegree = 85;
        var scaledValue = ((maxScale - minScale) / 100) * value + minScale;
        var midScale = (maxScale - minScale) / 2 + minScale; // mid is actually rotate 0

        if (scaledValue <= midScale) {
            var rotate = 1;
        }
        else {
            var rotate = -1;
        }

        var scalePerDegree = (midScale - minScale) / maxDegree;
        var rotateValue = (midScale - scaledValue) / scalePerDegree;
        var rotation = rotate * rotateValue;
        //console.log(input,scaledValue ,midScale, rotate, rotation);
        var tl = new TimelineLite();
        tl.to(needle, 1, { rotation: rotateValue });
    }

    function morphFace(painLevel) {
        var mouthExpression;
        mouthExpression = "#mouth_" + painLevel;
        var facialExpression = ".faces #" + pain[painLevel];
        var tl = new TimelineMax();
        tl.to("#mouth_3", 1, { morphSVG: mouthExpression });
        $(prevFace).css("visibility", "hidden");
        $(facialExpression).css("visibility", "visible");
        prevFace = facialExpression;

    }

    slider.oninput = function () {
        $(level).css("visibility", "visible");
        var currentLevel = this.value;
        var painLevel = findPainLevel(currentLevel);
        moveGauge(currentLevel);
        //alert(pain[painLevel]);

        //var painArray = ["YAS", "Yeah", "Mmkay", "Ouch", "Owwwww", "AHHHHHHH"];
        //var painArray = ["Sin Dolor", "Duele un poco", "Duele un poco más", "Duele aún más", "Duele mucho", "El peor dolor"];

        switch (pain[painLevel]) {
            case "YAS":
                level.innerHTML = "Sin Dolor";
                break;
            case "Yeah":
                level.innerHTML = "Duele un poco";
                break;
            case "Mmkay":
                level.innerHTML = "Duele un poco más";
                break;
            case "Ouch":
                level.innerHTML = "Duele aún más";
                break;
            case "Owwwww":
                level.innerHTML = "Duele mucho";
                break;
            default:
                level.innerHTML = "El peor dolor";
        }

        morphFace(painLevel);

    }
</script>

<script>

    //$(document).ready(function () {
        $("#InfoPX").hide();

        //Si dan click en Enter en los inputs de Nombre/Expediente
        $('.BuscarPX').on("keypress", function (e) {
            if (e.keyCode == 13) {
                FuncionBuscarPX();
                return false;
            }
        });

        //Si dan click en el botón de Buscar
        function BtnBuscarPX() {
            //alert('adad');
            FuncionBuscarPX();
        };

        function FuncionBuscarPX() {
            var NombrePX = $("#NombrePX").val();
            var ExpedientePX = $("#ExpedientePX").val();
            $('.table-responsive').css('display','block');

            Swal.fire({
                title: 'Cargando... Espere por favor',
                timer: 1000,
                timerProgressBar: true,
            });

            $.ajax({
                url: '@Url.Action("BuscarPaciente", "Derechohabiente")',
                method: 'POST',
                dataType: 'json',
                data: {
                    NombrePX: NombrePX,
                    ExpedientePX: ExpedientePX
                },
                success: function (data) {
                    if (data.MENSAJE.substring(0, 6) == "Succe:") {
                        LlenaTablaPX(data.PACIENTES);
                    }
                    if (data.MENSAJE.substring(0, 6) == "Error:") {
                        Swal.fire({
                            icon: 'error',
                            title: '¡Error!',
                            text: data.MENSAJE.substring(7),
                        });
                    }
                },
                error: function (ex) {
                    Swal.fire({
                        icon: 'error',
                        title: '¡Error!',
                    });
                }
            });

        };

        function LlenaTablaPX(PX) {
            var table = $('#TblPaciente').DataTable();
            table.destroy();

            table = $('#TblPaciente').DataTable({
                responsive: true,
                searching: false,
                info: true,
                deferRender: true,
                scroller: false,
                scrollColapse: true,
                paging: false,
                lengthChange: false,
                language: {
                    "zeroRecords": "No se encontraron PX",
                    "info": "",
                    "search": "",
                    "infoEmpty": "",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior",
                    },
                    "select": {
                        "rows": " %d filas seleccionadas"
                    },
                },
                data: PX,
                columns: [
                    { 'data': 'Nombre', className: "text-center" },
                    { 'data': 'PrimerApellido', className: "text-center" },
                    { 'data': 'SegundoApellido', className: "text-center" },
                    {
                        "data": "UnidadAfiliacion", className: "text-center", render: function (data, type, row) {
                            if (row.UnidadAfiliacion == 1) {
                                return '<h8 style="color:black; ">Unidad habitacional I.</h8>';
                            }
                            if (row.UnidadAfiliacion == 2) {
                                return '<h8 style="color:black; ">Módulo dental Apodaca</h8>';
                            }
                            if (row.UnidadAfiliacion == 3) {
                                return '<h8 style="color:black; ">Pueblo Nuevo</h8>';
                            }
                            if (row.UnidadAfiliacion == 4) {
                                return '<h8 style="color:black; ">Vicente Guerrero</h8>';
                            }
                            if (row.UnidadAfiliacion == 5) {
                                return '<h8 style="color:black; ">San Rafael</h8>';
                            }
                            if (row.UnidadAfiliacion == 6) {
                                return '<h8 style="color:black; ">21 de enero</h8>';
                            }
                            if (row.UnidadAfiliacion == 7) {
                                return '<h8 style="color:black; ">Clínica de atención int.</h8>';
                            }
                            if (row.UnidadAfiliacion == 8) {
                                return '<h8 style="color:black; ">Módulo dental Guadalupe</h8>';
                            }
                            if (row.UnidadAfiliacion == 9) {
                                return '<h8 style="color:black; ">Ciénega de Flores</h8>';
                            }
                        }
                    },
                    { 'data': 'Expediente', className: "text-center" },
                    {
                        "className": 'text-center',
                        "orderable": false,
                        "data": null,
                        "defaultContent": '<button title="Seleccionar px" id="VerDetalle" class="btn btn-success fa fa-check" data-toggle="modal" ></button>',
                        "target": -2
                    }
                ]
            });
        }


        $('#TblPaciente tbody').on('click', '#VerDetalle', function () {
            var tr = $(this).closest('tr');
            row = $('#TblPaciente').DataTable().row(tr);

            var Nombre = row.data().Nombre;
            var PrimerA = row.data().PrimerApellido;
            var SegundoA = row.data().SegundoApellido;
            var Exp = row.data().Expediente;
            var Edad = row.data().Edad;
            var Sexo = row.data().Sexo;
            var FechaN = row.data().FechaNacimiento;

            //console.log(FechaN);
            //Dividir fecha de nacimiento
            var splitFechaN = FechaN.split('/');
            const anioNacimiento = parseInt(splitFechaN[2]);
            const mesNacimiento = parseInt(splitFechaN[1]);
            const diaNacimiento = parseInt(splitFechaN[0]);

            // Obtiene la fecha actual
            const fechaActual = new Date();

            // Obtiene el año, mes y día actual
            const anioActual = fechaActual.getFullYear();
            const mesActual = fechaActual.getMonth() + 1; // Los meses en JavaScript van de 0 a 11
            const diaActual = fechaActual.getDate();

            // Calcula la edad
            let edad = anioActual - anioNacimiento;
            let edadMeses = mesActual - mesNacimiento;

            // Verifica si aún no ha llegado el cumpleaños de este año
            if (mesActual < mesNacimiento || (mesActual === mesNacimiento && diaActual < diaNacimiento)) {
                edad--;
            }

            //alert(edad + mesActual);

            document.getElementById("Nombre").innerHTML = Nombre + " " + PrimerA + " " + SegundoA;
            document.getElementById("Exp").innerHTML = Exp;
            document.getElementById("Edad").innerHTML = edad + ' años ' + edadMeses + ' meses';
            document.getElementById("Sexo").innerHTML = Sexo;
            document.getElementById("FechaNac").innerHTML = FechaN;

            //ocultamos div de la busqueda del px
            $("#BusquedaPX").hide();
            //mostramos div de la info del px
            $("#InfoPX").show();

            //Quitar el blur de la nota
            $('.gradient-blur').hide();
            //Regresar el height de el body
            $('body').css('height', 'auto');
            $('body').css('overflow', 'auto');

            $("#numexp").val(Exp);

        });



    //});

</script>

<script>
    //Buscar si esta llenado la escala del dolor en enfermeria, si no esta llenado, mostrar el modal de la escala del dolor
    $(document).ready(function () {
        //$('#escalaDolorModal').modal('show');
    });


    //Al cambiar la escala del dolor qu eeste guarde en la db la escala del dolor que siente el paciente en la nota de evolucion
    $("#slider").change(function () {
        /*
        $.ajax({
            //url: '@Url.Action("GuardarEscalaDolor", "NotaEvolucion")',
            /*dataType: "json",
            data: {
                numexp: numexp,
            },
            async: false,
            success: function (data) {
                $('#escalaDolorModal').modal('hide');
            },
            error: function (xhr, status, error) {
            }
        })
        */

        $('#escalaDolorModal').modal('hide');


    });
</script>


<script>

    var ExpedientePX = $("#ExpedientePX").val();

    /*
    $.ajax({
        url: '@Url.Action("DiagnosticosMedico", "NotaEvolucion")',
        /*dataType: "json",
        //data: { diagnostico: $("#analisis").val() },
        success: function (data) {
            $.each(data, function (i, item) {
                //console.log(item.DesCorta);
                $('#diagnosticoMedico').append('<div class="col-md-2 p-2"><div class="shadow p-2 mb-2 rounded diagnostico-select" data-clave="' + item.Clave + '">' + item.DesCorta + '</div></div>');
            });
        },
        error: function (xhr, status, error) {

        }
    });
    */

    /*
    $.ajax({
        url: '@Url.Action("DiagnosticosPaciente", "NotaEvolucion")',
        /*dataType: "json",
        data: { numemp: ExpedientePX },
        success: function (data) {
            $.each(data, function (i, item) {
                //console.log(item.DesCorta);
                $('#diagnosticoPaciente').append('<div class="col-md-2 p-2"><div class="shadow p-2 mb-2 rounded diagnostico-select" data-clave="' + item.Clave + '">' + item.DesCorta + '</div></div>');
            });
        },
        error: function (xhr, status, error) {

        }
    });

    $.ajax({
        url: '@Url.Action("DiagnosticosEspecialidad", "NotaEvolucion")',
        /*dataType: "json",
        //data: { numemp: $("#numemp").val() },
        success: function (data) {
            $.each(data, function (i, item) {
                //console.log(item.DesCorta);
                $('#diagnosticoEspecialidad').append('<div class="col-md-2 p-2"><div class="shadow p-2 mb-2 rounded diagnostico-select" data-clave="' + item.Clave + '">' + item.DesCorta + '</div></div>');
            });
        },
        error: function (xhr, status, error) {

        }
    });
    */


    //Buscar un nuevo diagnostico
    $('#diagnosticoBusqueda').on('click', '.btn-buscar', function () {

        //var s_exp = $(this).val();

        if ($("#diagnosticoTxt").val().length >= 3) {
            $('#diagnosticoBusquedaLista').empty();
            $('#diagnosticoBusquedaAlert').text('');
            $.ajax({
                url: '@Url.Action("BuscarDiagnosticos", "NotaEvolucion")',
                dataType: "json",
                data: { diagnostico: $("#diagnosticoTxt").val() },
                success: function (data) {
                    //console.log(data);
                    $.each(data, function (i, item) {
                        //console.log(item.DesCorta);
                        $('#diagnosticoBusquedaLista').append('<div class="col-md-2 p-2"><div class="shadow p-2 mb-2 rounded diagnostico-select" data-clave="' + item.clave + '">' + item.diagnostico + '</div></div>');
                    });
                },
                error: function (xhr, status, error) {
                    Swal.fire({
                        position: 'center',
                        icon: 'error',
                        showConfirmButton: false,
                        timer: 10000
                    });
                }
            });
        } else {
            $('#diagnosticoBusquedaLista').empty();
            $('#diagnosticoBusquedaAlert').text('¡Escribe más de dos caracteres!');
        }

    });


    $("#tipoconsulta1").attr('disabled', 'disabled');
    $("#tipoconsulta2").attr('disabled', 'disabled');
    $("#tipoconsulta3").attr('disabled', 'disabled');
    //$('#diaginfo1').hide();
    //$('#diaginfo2').hide();
    //Al dar click en los diagnoticos que se ponga en los cuadros de abajo
    $(document).on('click', '.diagnostico-select', function (event) {
        //console.log(event.data.nombre);
        // imprime 'juan'
        var clave = $(this).attr('data-clave');
        var desCorta = $(this).text();
        //alert(clave);
        if ($(this).hasClass("diagnostico-active")) {

            $(this).removeClass('diagnostico-active');

            if ($('#clave1').val() == clave) {
                $('#diagnostico1').val('');
                $('#clave1').val('');
                $("#tipoconsulta1").attr('disabled', 'disabled');
                $('#borrardiag1').css('filter', 'grayscale(100%)');

                //Si hay un valor en el diagnostico2
                if ($('#clave2').val()) {
                    $('#diagnostico1').val($('#diagnostico2').val());
                    $('#clave1').val($('#clave2').val());
                    $("#tipoconsulta1").removeAttr('disabled');
                    $('#borrardiag1').css('filter', 'none');
                    $("#tipoconsulta2").attr('disabled', 'disabled');
                    $('#borrardiag2').css('filter', 'grayscale(100%)');
                    $('#diagnostico2').val('');
                    $('#clave2').val('');

                    $("#tipoconsulta1 option").each(function () {
                        var val = $(this).val();
                        if (val == $('#tipoconsulta2').val()) {
                            $(this).prop('selected', true);
                        }
                    });

                    $("#tipoconsulta2").val($("#tipoconsulta2 option:first").val());


                }

                //Si hay un valor en el diagnostico3
                if ($('#clave3').val()) {
                    $('#diagnostico2').val($('#diagnostico3').val());
                    $('#clave2').val($('#clave3').val());
                    $("#tipoconsulta2").removeAttr('disabled');
                    $('#borrardiag2').css('filter', 'none');
                    $("#tipoconsulta3").attr('disabled', 'disabled');
                    $('#borrardiag3').css('filter', 'grayscale(100%)');
                    $('#diagnostico3').val('');
                    $('#clave3').val('');

                    $("#tipoconsulta2 option").each(function () {
                        var val = $(this).val();
                        if (val == $('#tipoconsulta3').val()) {
                            $(this).prop('selected', true);
                        }
                    });

                    $("#tipoconsulta3").val($("#tipoconsulta3 option:first").val());
                }


                //Si hay un valor en el diagnostico4
                if ($('#clave4').val()) {
                    alert('if1');
                    $('#diagnostico3').val($('#diagnostico4').val());
                    $('#clave3').val($('#clave4').val());
                    $("#tipoconsulta3").removeAttr('disabled');
                    $('#borrardiag3').css('filter', 'none');
                    $("#tipoconsulta4").attr('disabled', 'disabled');
                    $('#borrardiag4').css('filter', 'grayscale(100%)');
                    $('#diagnostico4').val('');
                    $('#clave4').val('');

                    $("#tipoconsulta3 option").each(function () {
                        var val = $(this).val();
                        if (val == $('#tipoconsulta4').val()) {
                            $(this).prop('selected', true);
                        }
                    });

                    $("#tipoconsulta3").val($("#tipoconsulta3 option:first").val());
                }


                //Si hay un valor en el diagnostico4
                if ($('#clave5').val()) {
                    $('#diagnostico4').val($('#diagnostico5').val());
                    $('#clave4').val($('#clave5').val());
                    $("#tipoconsulta4").removeAttr('disabled');
                    $('#borrardiag4').css('filter', 'none');
                    $("#tipoconsulta5").attr('disabled', 'disabled');
                    $('#borrardiag5').css('filter', 'grayscale(100%)');
                    $('#diagnostico5').val('');
                    $('#clave5').val('');

                    $("#tipoconsulta4 option").each(function () {
                        var val = $(this).val();
                        if (val == $('#tipoconsulta5').val()) {
                            $(this).prop('selected', true);
                        }
                    });

                    $("#tipoconsulta4").val($("#tipoconsulta4 option:first").val());
                }


                //No hay ni diagnostico 1 ni 2
                if (!$('#clave1').val()) {
                    $("#tipoconsulta1").val($("#tipoconsulta1 option:first").val());
                }



            } else {
                if ($('#clave2').val() == clave) {
                    $('#diagnostico2').val('');
                    $('#clave2').val('');
                    $("#tipoconsulta2").attr('disabled', 'disabled');
                    $('#borrardiag2').css('filter', 'grayscale(100%)');


                    //Si hay un valor en el diagnostico3
                    if ($('#clave3').val()) {
                        $('#diagnostico2').val($('#diagnostico3').val());
                        $('#clave2').val($('#clave3').val());
                        $("#tipoconsulta2").removeAttr('disabled');
                        $('#borrardiag2').css('filter', 'none');
                        $("#tipoconsulta3").attr('disabled', 'disabled');
                        $('#borrardiag3').css('filter', 'grayscale(100%)');
                        $('#diagnostico3').val('');
                        $('#clave3').val('');

                        $("#tipoconsulta2 option").each(function () {
                            var val = $(this).val();
                            if (val == $('#tipoconsulta3').val()) {
                                $(this).prop('selected', true);
                            }
                        });
                    }


                    if ($('#clave4').val()) {
                        alert('if2');
                        $('#diagnostico3').val($('#diagnostico4').val());
                        $('#clave3').val($('#clave4').val());
                        $("#tipoconsulta3").removeAttr('disabled');
                        $('#borrardiag3').css('filter', 'none');
                        $("#tipoconsulta4").attr('disabled', 'disabled');
                        $('#borrardiag4').css('filter', 'grayscale(100%)');
                        $('#diagnostico4').val('');
                        $('#clave4').val('');

                        $("#tipoconsulta3 option").each(function () {
                            var val = $(this).val();
                            if (val == $('#tipoconsulta4').val()) {
                                $(this).prop('selected', true);
                            }
                        });
                    }


                    if ($('#clave5').val()) {
                        $('#diagnostico4').val($('#diagnostico5').val());
                        $('#clave4').val($('#clave5').val());
                        $("#tipoconsulta4").removeAttr('disabled');
                        $('#borrardiag4').css('filter', 'none');
                        $("#tipoconsulta5").attr('disabled', 'disabled');
                        $('#borrardiag5').css('filter', 'grayscale(100%)');
                        $('#diagnostico5').val('');
                        $('#clave5').val('');

                        $("#tipoconsulta4 option").each(function () {
                            var val = $(this).val();
                            if (val == $('#tipoconsulta5').val()) {
                                $(this).prop('selected', true);
                            }
                        });
                    }



                    if (!$('#clave2').val()) {
                        $("#tipoconsulta2").val($("#tipoconsulta2 option:first").val());
                    }

                    $("#tipoconsulta3").val($("#tipoconsulta3 option:first").val());
                    $("#tipoconsulta4").val($("#tipoconsulta4 option:first").val());
                    $("#tipoconsulta5").val($("#tipoconsulta5 option:first").val());


                } else {
                    if ($('#clave3').val() == clave) {
                        $('#diagnostico3').val('');
                        $('#clave3').val('');
                        $("#tipoconsulta3").attr('disabled', 'disabled');
                        $('#borrardiag3').css('filter', 'grayscale(100%)');
                        $("#tipoconsulta3").val($("#tipoconsulta3 option:first").val());


                        if ($('#clave4').val()) {
                            alert('if3');
                            $('#diagnostico3').val($('#diagnostico4').val());
                            $('#clave3').val($('#clave4').val());
                            $("#tipoconsulta3").removeAttr('disabled');
                            $('#borrardiag3').css('filter', 'none');
                            $("#tipoconsulta4").attr('disabled', 'disabled');
                            $('#borrardiag4').css('filter', 'grayscale(100%)');
                            $('#diagnostico4').val('');
                            $('#clave4').val('');

                            $("#tipoconsulta3 option").each(function () {
                                var val = $(this).val();
                                if (val == $('#tipoconsulta4').val()) {
                                    $(this).prop('selected', true);
                                }
                            });
                        }


                        if ($('#clave5').val()) {
                            $('#diagnostico4').val($('#diagnostico5').val());
                            $('#clave4').val($('#clave5').val());
                            $("#tipoconsulta4").removeAttr('disabled');
                            $('#borrardiag4').css('filter', 'none');
                            $("#tipoconsulta5").attr('disabled', 'disabled');
                            $('#borrardiag5').css('filter', 'grayscale(100%)');
                            $('#diagnostico5').val('');
                            $('#clave5').val('');

                            $("#tipoconsulta4 option").each(function () {
                                var val = $(this).val();
                                if (val == $('#tipoconsulta5').val()) {
                                    $(this).prop('selected', true);
                                }
                            });
                        }


                        if (!$('#clave3').val()) {
                            $("#tipoconsulta3").val($("#tipoconsulta3 option:first").val());
                        }

                        $("#tipoconsulta4").val($("#tipoconsulta4 option:first").val());
                        $("#tipoconsulta5").val($("#tipoconsulta5 option:first").val());


                    } else {
                        if ($('#clave4').val() == clave) {
                            alert('if4');
                            $('#diagnostico4').val('');
                            $('#clave4').val('');
                            $("#tipoconsulta4").attr('disabled', 'disabled');
                            $('#borrardiag4').css('filter', 'grayscale(100%)');
                            $("#tipoconsulta4").val($("#tipoconsulta4 option:first").val());


                            if ($('#clave5').val()) {
                                $('#diagnostico4').val($('#diagnostico5').val());
                                $('#clave4').val($('#clave5').val());
                                $("#tipoconsulta4").removeAttr('disabled');
                                $('#borrardiag4').css('filter', 'none');
                                $("#tipoconsulta5").attr('disabled', 'disabled');
                                $('#borrardiag5').css('filter', 'grayscale(100%)');
                                $('#diagnostico5').val('');
                                $('#clave5').val('');

                                $("#tipoconsulta4 option").each(function () {
                                    var val = $(this).val();
                                    if (val == $('#tipoconsulta5').val()) {
                                        $(this).prop('selected', true);
                                    }
                                });
                            }

                            if (!$('#clave4').val()) {
                                $("#tipoconsulta4").val($("#tipoconsulta4 option:first").val());
                            }

                            $("#tipoconsulta5").val($("#tipoconsulta5 option:first").val());

                        } else {
                            if ($('#clave5').val() == clave) {
                                $('#diagnostico5').val('');
                                $('#clave5').val('');
                                $("#tipoconsulta5").attr('disabled', 'disabled');
                                $('#borrardiag5').css('filter', 'grayscale(100%)');
                                $("#tipoconsulta5").val($("#tipoconsulta5 option:first").val());
                            }
                        }
                    }
                }
            }


            //$.ajax({
                //url: '@Url.Action("GuardaDiagSOAP", "ServiciosMedicos")',
                /*dataType: "json",
                data: { numemp: $("#numemp").val(), tipoconsulta1: $("#tipoconsulta1").val(), tipoconsulta2: $("#tipoconsulta2").val(), tipoconsulta3: $("#tipoconsulta3").val(), diagnostico1: $("#clave1").val(), diagnostico2: $("#clave2").val(), diagnostico3: $("#clave3").val() },
                success: function (data) {
                    infoSOAP();
                },
                error: function (xhr, status, error) {
                    Swal.fire({
                        position: 'center',
                        icon: 'error',
                        //stitle: 'Expediente no encontrado',
                        showConfirmButton: false,
                        timer: 10000
                    });
                }
            });
            */




        } else {

            //$('#finalizar').attr('disabled', 'disabled');
            //$('#finalizar').css('background-color', 'lightgray');

            var numItems = $('.diagnostico-active').length;
            if (numItems < 5) {
                if (numItems == 0) {
                    $('#diagnostico1').val(desCorta);
                    $('#clave1').val(clave);
                    $("#tipoconsulta1").removeAttr('disabled');
                    $('#borrardiag1').css('filter', 'none');
                    $(this).addClass('diagnostico-active');

                } else {
                    if (numItems == 1) {
                        if ($("#tipoconsulta1").val() == null) {
                            $('#diaginfo1').show();
                        } else {
                            //$('#diaginfo1').hide();
                            $('#diagnostico2').val(desCorta);
                            $('#clave2').val(clave);
                            $("#tipoconsulta2").removeAttr('disabled');
                            $('#borrardiag2').css('filter', 'none');
                            $(this).addClass('diagnostico-active');
                        }

                    } else {
                        if (numItems == 2) {
                            if ($("#tipoconsulta2").val() == null) {
                                $('#diaginfo2').show();
                            } else {
                                //$('#diaginfo2').hide();
                                $('#diagnostico3').val(desCorta);
                                $('#clave3').val(clave);
                                $("#tipoconsulta3").removeAttr('disabled');
                                $('#borrardiag3').css('filter', 'none');
                                $(this).addClass('diagnostico-active');
                            }
                        } else {
                            if (numItems == 3) {
                                if ($("#tipoconsulta3").val() == null) {
                                    $('#diaginfo3').show();
                                } else {
                                    //$('#diaginfo2').hide();
                                    $('#diagnostico4').val(desCorta);
                                    $('#clave4').val(clave);
                                    $("#tipoconsulta4").removeAttr('disabled');
                                    $('#borrardiag4').css('filter', 'none');
                                    $(this).addClass('diagnostico-active');
                                }
                            } else {
                                if (numItems == 4) {
                                    if ($("#tipoconsulta4").val() == null) {
                                        $('#diaginfo4').show();
                                    } else {
                                        //$('#diaginfo2').hide();
                                        $('#diagnostico5').val(desCorta);
                                        $('#clave5').val(clave);
                                        $("#tipoconsulta5").removeAttr('disabled');
                                        $('#borrardiag5').css('filter', 'none');
                                        $(this).addClass('diagnostico-active');
                                    }
                                }
                            }
                        }

                    }
                }

            }
        }


        var hash = "#diagnosticoBusquedaListaHistorial";
        $('html, body').animate({
            scrollTop: $(hash).offset().top
        }, 800, function () {
            window.location.href = "#diagnosticoBusquedaListaHistorial"
        });

    });


    /*
    $(".tipoconsulta").change(function () {
        $('#diaginfo1').hide();
        $('#diaginfo2').hide();
        //$.ajax({
            //url: '@Url.Action("GuardaDiagSOAP", "Nota")',
            /*dataType: "json",
            data: { numemp: $("#numemp").val(), tipoconsulta1: $("#tipoconsulta1").val(), tipoconsulta2: $("#tipoconsulta2").val(), tipoconsulta3: $("#tipoconsulta3").val(), diagnostico1: $("#clave1").val(), diagnostico2: $("#clave2").val(), diagnostico3: $("#clave3").val() },
            success: function (data) {
                infoSOAP();
            },
            error: function (xhr, status, error) {
                Swal.fire({
                    position: 'center',
                    icon: 'error',
                    //stitle: 'Expediente no encontrado',
                    showConfirmButton: false,
                    timer: 10000
                });
            }
        });
    });
    */


</script>



<script>

    $("#borrardiag1").click(function () {
        $(".diagnostico-active").each(function (index) {
            if ($(this).attr('data-clave') == $('#clave1').val()) {
                $(this).removeClass('diagnostico-active');
                $('#diagnostico1').val('');
                $('#clave1').val('');
                $('#borrardiag1').css('filter', 'grayscale(100%)');
                $("#tipoconsulta1").attr('disabled', 'disabled');
            }
        });


        if ($('#clave2').val()) {
            $('#diagnostico1').val($('#diagnostico2').val());
            $('#clave1').val($('#clave2').val());
            $('#borrardiag1').css('filter', 'none');
            $("#tipoconsulta1").removeAttr('disabled');
            var opcionSeleccionada = $("#tipoconsulta2 option:selected").val();
            $("#tipoconsulta1").val(opcionSeleccionada);

            $('#diagnostico2').val('');
            $('#clave2').val('');
            $('#borrardiag2').css('filter', 'grayscale(100%)');
            $("#tipoconsulta2").val($("#tipoconsulta2 option:first").val());

        }

    });


    $("#borrardiag2").click(function () {
        $(".diagnostico-active").each(function (index) {
            if ($(this).attr('data-clave') == $('#clave2').val()) {
                $(this).removeClass('diagnostico-active');
                $('#diagnostico2').val('');
                $('#clave2').val('');
                $('#borrardiag2').css('filter', 'grayscale(100%)');
                $("#tipoconsulta2").attr('disabled', 'disabled');
            }
        });


        if ($('#clave3').val()) {
            $('#diagnostico2').val($('#diagnostico3').val());
            $('#clave2').val($('#clave3').val());
            $('#borrardiag2').css('filter', 'none');
            $("#tipoconsulta2").removeAttr('disabled');
            var opcionSeleccionada = $("#tipoconsulta3 option:selected").val();
            //alert(opcionSeleccionada);
            $("#tipoconsulta2").val(opcionSeleccionada);

            $('#diagnostico3').val('');
            $('#clave3').val('');
            $('#borrardiag3').css('filter', 'grayscale(100%)');
            $("#tipoconsulta3").val($("#tipoconsulta3 option:first").val());
        }

        //$("#tipoconsulta2").val($("#tipoconsulta2 option:first").val());

    });


    $("#borrardiag3").click(function () {
        $(".diagnostico-active").each(function (index) {
            if ($(this).attr('data-clave') == $('#clave3').val()) {
                $(this).removeClass('diagnostico-active');
                $('#diagnostico3').val('');
                $('#clave3').val('');
                $('#borrardiag3').css('filter', 'grayscale(100%)');
                $("#tipoconsulta3").attr('disabled', 'disabled');
            }
        });


        if ($('#clave4').val()) {
            $('#diagnostico3').val($('#diagnostico4').val());
            $('#clave3').val($('#clave4').val());
            $('#borrardiag3').css('filter', 'none');
            $("#tipoconsulta3").removeAttr('disabled');
            var opcionSeleccionada = $("#tipoconsulta4 option:selected").val();
            $("#tipoconsulta3").val(opcionSeleccionada);

            $('#diagnostico4').val('');
            $('#clave4').val('');
            $('#borrardiag4').css('filter', 'grayscale(100%)');
            $("#tipoconsulta4").val($("#tipoconsulta4 option:first").val());

        }

        //$("#tipoconsulta3").val($("#tipoconsulta3 option:first").val());

    });


    $("#borrardiag4").click(function () {
        $(".diagnostico-active").each(function (index) {
            if ($(this).attr('data-clave') == $('#clave4').val()) {
                $(this).removeClass('diagnostico-active');
                $('#diagnostico4').val('');
                $('#clave4').val('');
                $('#borrardiag4').css('filter', 'grayscale(100%)');
                $("#tipoconsulta4").attr('disabled', 'disabled');
            }
        });


        if ($('#clave5').val()) {
            $('#diagnostico4').val($('#diagnostico5').val());
            $('#clave4').val($('#clave5').val());
            $('#borrardiag4').css('filter', 'none');
            $("#tipoconsulta4").removeAttr('disabled');
            var opcionSeleccionada = $("#tipoconsulta5 option:selected").val();
            $("#tipoconsulta4").val(opcionSeleccionada);

            $('#diagnostico5').val('');
            $('#clave5').val('');
            $('#borrardiag5').css('filter', 'grayscale(100%)');
            $("#tipoconsulta5").val($("#tipoconsulta5 option:first").val());

        }


    });


    $("#borrardiag5").click(function () {
        $(".diagnostico-active").each(function (index) {
            if ($(this).attr('data-clave') == $('#clave5').val()) {
                $(this).removeClass('diagnostico-active');
                $('#diagnostico5').val('');
                $('#clave5').val('');
                $('#borrardiag5').css('filter', 'grayscale(100%)');
                $("#tipoconsulta5").attr('disabled', 'disabled');
            }
        });

        $("#tipoconsulta5").val($("#tipoconsulta5 option:first").val());

    });


</script>


@if (TempData["message_success"] != null)
{
<script>

    Swal.fire({
        icon: 'success',
        title: '@TempData["message_success"]',
        showConfirmButton: false,
        timer: 1600
    })

</script>
}